<app-detail-box title="ประวัติการสั่งซื้อ">
  <cftable [control]="control"  class="list"></cftable>
  <div *ngIf="datatotal > 0">
    <cf-pagination [cfpagination]="control.getPagination()" [(ngModel)]="currentPage"></cf-pagination>
    <cf-sizination [cfsizination]="control.getSizination()" [(ngModel)]="currentSize" class="sizination" [class]="'sizination'"></cf-sizination>>
</div>
</app-detail-box>