 <sm-modal class="box">
    <modal-content>
            <div class="info">
                <div class="pic_container">
                    <div class="pic" [ngStyle]="{'background-image': 'url(http://' + data.pic_src + ')'}"></div>
                </div>
               <div class="info_container">
                    <p class="name">{{data.name}}</p>
                    <p># {{u_id}}</p>
             </div>
            </div>
        <div class="pass_container center">
            <div class="label">รหัสผ่านใหม่</div>
            <div class="pwd">{{pwd}}</div>
            <button class="ui icon button basic compact" (click)="genPwd()" [ngClass]="{disabled: loading_gen}">
                <i class="icon refresh"></i>
            </button>
        </div>
    </modal-content>
    <modal-actions>
        <div class="center">
            <button class="ui green button compact" [ngClass]="{loading: loading}" (click)="confirm()">
                ตกลง
            </button>
            <button class="ui red button compact" (click)="cancel()">
                ยกเลิก
            </button>
        </div>
    </modal-actions>
</sm-modal> 