.center {
    text-align: center;
}
.info {
    // border-bottom: 1px solid #d4d4d4;
     &:before{
        position: absolute;
        content:"";
        display: block;
        left:-21px;
        right:-21px;
        background-color:#F9FAFB;
        height: 100%;
        top:-21px;
        height: 100px;
        z-index: 0;
        border-bottom:1px solid #d4d4d4;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    padding-bottom: 15px;
    position: relative;
    
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    .pic_container,.info_container{
        position: relative;
        z-index: 5;
    }
    .pic_container {
        float: left;
        margin-right: 25px;
        .pic {
            border-radius: 50%;
            width: 60px;
            height: 60px;
            background-color: green;
            background-position: center center;
            background-size: cover;
            border: 1px solid #c5c5c5;
        }
    }
    .info_container {
        float: left;
        padding: .5em 0;
        p {
            font-size: .95em;
        }
        .name {
            font-size: 1.2em;
            font-family: 'Quark-Bold';
            margin-bottom: .1em;
        }
    }
}
.pass_container {
    padding-top: 21px;
    .label {
        font-family: 'Quark-Bold';
        font-size: 1.6em;
        margin-bottom: 10px;
        color: #558e0b;
    }
    .pwd {
        display: inline-block;
        width: 80px;
        font-size: 1.4em;
    }
    .icon.refresh {
        color: green;
    }
}