<app-two-side>
  <section breadcrumb>
  </section>
  <section filter>

  </section>
  <section leftside>
  </section>
  <section rightside>
    <h3 class="ui dividing header">
      เพิ่มข้อมูลพนักงาน
      </h3>
     <div class="form-container">
      <app-user-edit-form-container [user_id]="user_id"></app-user-edit-form-container>
     </div>
  </section>
</app-two-side>
