<cf-display-manager>
    <app-product-detail [p_id]="product_id" [o_id]="order_id" [data]="data_dispatcher.dataDispatch" [loading]="data_dispatcher.getLoading()"></app-product-detail>
</cf-display-manager>
