<cf-display-manager>
    <app-product-list (onClick)="selectProduct($event)" [data]="data_dispatcher.dataDispatch" [loading]="data_dispatcher.getLoading()"></app-product-list>
</cf-display-manager>
<app-navigation-eve [total]="totaldata" *ngIf="totaldata > 0" (onChange)="onNavChange($event)" [resetPage]="resetPage" ></app-navigation-eve>

