.profile {
    text-align: center;
    max-width: 620px;
    margin: auto;
    .info {
        font-family: 'Quark-Bold';
        letter-spacing: 1px;
        padding-top: 25px;
        margin-bottom: 70px;
        .pic {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background-color: red;
            background-position: center center;
            background-size: cover;
            margin: 0 auto 25px;
            position: relative;
            .photo {
                display: none;
                color: white;
                font-size: 50px;
                position: absolute;
                top: 65%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            &:hover {
                &:before {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    display: block;
                    content: '';
                    background-color: rgba(0,0,0,0.15);
                }
                .photo {
                    display: block;
                }
            }
        }
        .name {
            font-size: 2em;
            color: #60A306;
            margin-bottom: 5px;
        }
        .username {
            font-size: 1.5em;
            color: #A8ABAC;
            margin-bottom: 5px;
        }
        .changePass {
            text-decoration: underline;
        }
    }
    .edit_boxs {
        position: relative;
        width: 100%;
        .triangle {
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translate(-50%);
            width: 0;
            height: 0;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
            border-bottom: 25px solid #F8F6F6;
        }
        .icon {
            color: #60A306;
        }
        .icon.mobile {
            // font-size: 1.2em;
        }
    }
}
.pic_container{
    padding-bottom:15px;
}