@import '~/../src/color.scss';
.box {
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: auto;
    margin-bottom: 15px;
    border: 1px solid $border_theme;
    border-radius: 5px;
    .head {
        width: 100%;
        // height: 40px;
        background-color: #FAFAFA;
        padding: 16px 20px;
        h3 {
            font-family: 'Quark-Light';
            font-size: 1.8em;
        }
    }
    .body {
        padding: 20px;
        width: 100%;
    }
}