<!-- <img src="{{img_src}}">  -->
<ng-container *ngTemplateOutlet="imagepreview; context:imageContext"></ng-container>
      <input type="file" #fileinput ng2FileSelect name="filename" [uploader]="uploader" class="upload">