
<app-two-side>
  <section breadcrumb>
    <app-customer-breadcrumb current="customerlist"></app-customer-breadcrumb>
  </section>
  <section filter>
    <app-customer-searchbar></app-customer-searchbar>
  </section>
  <section leftside>
    <app-customer-tab-nav></app-customer-tab-nav>
  </section>
  <section rightside>
    <app-customer-table-container *cfdisplaysecure="4"></app-customer-table-container>
  </section>
</app-two-side>
