<ul>
  <li *ngFor="let bread of breadcrumbhandler.breadlist let last = last">
    <ng-container [ngSwitch]="last">
      <p *ngSwitchCase="true" class="breadtext">{{bread.text}} </p>
      <p [routerLink]="bread.url"   *ngSwitchDefault> <span class="link breadlink">{{bread.text}}</span> / </p>
    </ng-container>
  </li>
</ul>
