<div class="right">
    <button class="ui yellow button" (click)="onSubmit()"><i class="icon external share"></i> ส่งออก</button>
</div>
<cf-confirm-modal title="ยืนยันการส่งออกหรือไม่"></cf-confirm-modal>
<sm-loader [complete]="isComplete" class="inverted" text="Loading..."></sm-loader>