<app-two-side [noleftside]="true">
  <section breadcrumb>
    <app-inventory-breadcrumb current='inventorylist'></app-inventory-breadcrumb>
  </section>
  <section filter>
      <app-inventory-searchbar></app-inventory-searchbar>
  </section>
  <section leftside>
      
  </section>
  <section rightside>
    <app-inventory-table-container *cfdisplaysecure="3"></app-inventory-table-container>
  </section>
</app-two-side>
