@import '~/../src/color.scss';

.topbar {
    height: 50px;
    min-width: 1090px;
    color: white;
    background-color: $main_theme;
    position: relative;
    box-shadow: 2px 2px 2px 0 $shadow_theme;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    app-account {
        text-align: right;
    }
    .logo {
        width: 120px;
        height: 40px;
        margin: 5px;
        background-image: url("../../../assets/img/Gracz_Logo.png");
        background-position: center center;
        background-size: cover;
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
    }
}