<div class="topbar">
    <div class="logo clickable" routerLink="/customer/list"></div>
    <app-menu></app-menu>
    <app-account [name]="name" [img]="img" (logout)="logout()" (myAccount)="account()"></app-account>
</div>