.account {
    font-family: 'Quark-Light';
    float: right;
    font-size: 1.3em;
    padding-right: 25px;
    .item {
        padding: 5px 10px;
        border-left: 2px solid white;
        font-size: 1em;
        &:first-of-type {
            border: none;
        }
    }
    p {
        display: inline-block;
        padding-top: 13px;
        margin-right: 5px;
    }
    .img {
        margin: 5px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;
        background-size: cover;
        background-position: center center;
        float: right;
    }
}