<div class="account">
    <div class="ui pointing dropdown link">
        <div class="text">
            <p>{{name}}</p>
            <div class="img" [ngStyle]="{'background-image': 'url(' + 'http://' + this.img + ')'}"></div>
        </div>
        <div class="menu">
            <div class="item" (click)="myAcc()">
                <i class="icon user"></i>บัญชีของฉัน
            </div>
            <div class="item" (click)="signOut()">
                <i class="sign out icon"></i>ออกจากระบบ
            </div>
        </div>
    </div>
</div>