.btn-container{
    text-align: right;
    padding-bottom: 20px;
    width:100%;
    max-width: 1000px;
    height: auto;
    margin: auto;
}
section.password{
    text-align: center;
    span{
        padding-right:10px;
    }
}
.btn_container {
    display: inline-block;
}