<section class="btn-container">
    <div *ngFor="let button of data" [ngSwitch]="button.id" class="btn_container">
        <button class="ui button green" (click)="approve()" *ngSwitchCase="1">{{button.text}}</button>
        <!-- <button class="ui button yellow" (click)="edit()" *ngSwitchCase="4">{{button.text}}</button> -->
        <button class="ui button red" (click)="reject()" *ngSwitchCase="2">{{button.text}}</button>
    </div>
    <!--<button class="ui green button" (click)="approve()">อนุมัติ</button>
    <button class="ui yellow button" (click)="edit()">แก้ไข</button>
    <button class="ui red button" (click)="reject()">ไม่อนุมัติ</button>-->
</section>

<sm-loader [complete]="isCompleted" class="inverted" text="Loading..."></sm-loader>

<sm-modal title="กรอกรหัสลูกค้าเพื่ออนุมัติ" class="small" #typePasswordModel>
    <modal-content>
        <section class="password">
        <span>รหัสลูกค้า </span>
        <div class="ui input">
            <input type="text" placeholder="รหัสลูกค้า..." [(ngModel)]="pass" #passinput="ngModel" required>
        </div>
        <div class="ui error message" *ngIf="!passinput.valid && submitted">
            <p>กรุณากรอกรหัสผ่าน</p>
        </div>
        </section>
    </modal-content>
    <modal-actions>
        <button class="ui green button" (click)="approve_submit(passinput.valid)">
            อนุมัติ
        </button>
    </modal-actions>
</sm-modal>
