.phone_code{
    width:80px !important;
    float:left !important;
    display: block !important;
}
.phone_number{
    width:calc(100% - 200px) !important;
    margin-left:20px !important;
    float:left !important;
    display: block !important;
}
.field.phone{
    &:after{
        content:"";
        display: block;
        clear:both;
    }
}
.btn-container{
    text-align: center;
}
.genpass{
    margin:0 auto;
    margin-top:10px;
    display: block;
}