<form class="ui form" [formGroup]="formg" [ngClass]="{error: !formg.valid}" (ngSubmit)="submit()">
  <div>
    <app-cf-upload-image [url]="urlupload" [imagepreview]="imagepreview" (success)="uploadSuccess($event)" (error)="uploadError($event)"></app-cf-upload-image >
     <ng-template #imagepreview let-imageObj let-loading="loading" let-openFileUpload="openFileUpload">
      <cf-preview-image [src]="'http://'+imageObj?.absolute" [hasUploaded]="imageObj?.absolute" [initialImage]="profile_src.url" (click)="openFileUpload()"></cf-preview-image>
      
    </ng-template> 
  </div>
  <div class="field">
    <label>ยูสเซอร์เนม</label>
    <input type="text" placeholder="ยูสเซอร์เนม" formControlName="username">
    <div class="ui error message" invalidmessage="username">
        <p *invalidType="'required'"> กรุณาระบุ ยูสเซอร์เนม</p>
    </div>
  </div>
  <div class="field" *ngIf="!is_edit">
    <label>รหัสผ่าน</label>
    <input type="text" placeholder="รหัสผ่าน" formControlName="password" disabled>
    <div class="ui error message" invalidmessage="password">
        <p *invalidType="'required'">กรุณาระบุ รหัสผ่าน</p>
    </div>
    <button class="ui button green genpass" [ngClass]="{loading:genpassloading}" type="button" (click)="genPassword()">
      สร้างรหัสผ่าน
    </button>
  </div>
  <!-- <div class="field" *ngIf="!is_edit">
    <label>ยืนยันรหัสผ่าน</label>
    <input type="password" placeholder="ยืนยันรหัสผ่าน" formControlName="repassword">
    <div class="ui error message" invalidmessage="repassword">
        <p *invalidType="'required'">กรุณาระบุ ยินยันรหัสผ่าน</p>
        <p *invalidType="'validateEqual'">กรุณาระบุ ยินยันรหัสผ่านให้ตรงกัน</p>
    </div>
  </div> -->
  <div class="field">
    <label>รหัสเซลล์ Mc5</label>
    <input type="text" placeholder="รหัสเซลล์ Mc5" formControlName="salemc5">
    <div class="ui error message" invalidmessage="salemc5">
        <p *invalidType="'required'"> กรุณาระบุ รหัสเซลล์ Mc5</p>
    </div>
    <!-- <div class="ui error message" *ngIf="!codemc5valid">
        <p>รหัสเซลล์ Mc5 ไม่ถูกต้อง</p>
    </div> -->
  </div>
  <div class="field">
    <label>ประเภท</label>
    <sm-select placeholder="ประเภท" [control]="formg.get('type')" >
        <option [value]="1">พนักงานขาย</option>
        <option [value]="2">ผู้ดูแลพนักงานขาย</option>
    </sm-select>
    <div class="ui error message" invalidmessage="type">
        <p *invalidType="'required'">กรุณาระบุ ประเภท</p>
    </div>
  </div>
  <div class="field">
    <label>ชื่อ</label>
     <input type="text" placeholder="ชื่อ" formControlName="firstname"> 
     <div class="ui error message" invalidmessage="firstname">
        <p *invalidType="'required'">กรุณาระบุ ชื่อ</p>
    </div>
  </div>
  <div class="field">
    <label>นามสกุล</label>
     <input type="text" placeholder="นามสกุล" formControlName="lastname">
    <div class="ui error message" invalidmessage="lastname">
        <p *invalidType="'required'">กรุณาระบุ นามสกุล</p>
    </div>
  </div>
  <div class="field">
    <label>ไลน์ไอดี</label>
     <input type="text" placeholder="ไลน์ไอดี" formControlName="line_id"> 
  </div>
  <div class="field">
    <label>อีเมลล์</label>
     <input type="text" placeholder="อีเมลล์" formControlName="email">
    <div class="ui error message" invalidmessage="email">
        <p *invalidType="'email'">กรุณาระบุ อีเมลล์ให้ถูกต้อง</p>
    </div>
  </div>
  <div class="field phone">
    <label>เบอร์โทรศัพท์</label>
    <input type="text" class="phone_code" prefixCountryCode placeholder="รหัส" [formControl]="formg.get('phone_code')"> 
    <input type="text" class="phone_number" placeholder="เบอร์โทรศัพท์" formControlName="phone_number"> 
    

  </div>
  <div class="ui error message" invalidmessage="phone_code">
        <p *invalidType="'required'">กรุณาระบุ รหัส</p>
        <p *invalidType="'maxlength'">กรุณาระบุ รหัสไม่เกิน 4 ตัว</p>
        
    </div>
    <div class="ui error message" invalidmessage="phone_number">
        <p *invalidType="'required'">กรุณาระบุ เบอร์โทรศัพท์</p>
    </div>
  <div class="btn-container">
    <button class="ui button green" type="submit">Submit</button>
  </div>
</form>

