<app-two-side>
  <section breadcrumb>
    <app-order-breadcrumb current="productlist" [mapParams]="mapParams"></app-order-breadcrumb>
  </section>
  <section filter>
    <app-productlist-searchbar></app-productlist-searchbar>
  </section>
  <section leftside>
      <app-order-tab-nav current="/model/list"></app-order-tab-nav>
  </section>
  <section rightside>
    <app-product-card-container [model_id]="model_id" [unit]="unit" (getBreadCrumbData)="setBreadCrumbData($event)"></app-product-card-container>
  </section>
</app-two-side>
