<app-two-side>
  <section breadcrumb>
    <app-order-breadcrumb current="productdetail" [mapParams]="mapParams"></app-order-breadcrumb>
  </section>
  <section leftside>
      <app-order-tab-nav current="/model/list"></app-order-tab-nav>
  </section>
  <section rightside>
      <app-product-detail-container [product_id]="product_id" [order_id]="order_id" (getBreadCrumbData)="setBreadCrumbData($event)"></app-product-detail-container>
  </section>
</app-two-side>

