.cus_detail {
    .row {
        margin-bottom: 1em;
        position: relative;
        div {
            display: inline-block;
        }
        .for-container {
            display: block;
        }
        .label {
            font-family: 'Quark-Light';
            font-size: 1.2em;
            font-weight: 700;
            width: 150px;
            text-align: right;
            position: absolute;
            top: 0;
            left: 0;
        }
        .detail {
            margin-left: 155px;
            font-family: 'Quark-Light';
            font-size: 1.1em;
        }
    }
    .half {
        display: inline-block;
        width: 49%;
    }
}