<div class="cus_detail">
    <div class="row half">
        <div class="label"><p>ชื่อลูกค้า :</p></div>
        <div class="detail"><p>{{data?.name}}</p></div>
    </div>
    <div class="row half">
        <div class="label"><p>รหัสเซลล์ :</p></div>
        <div class="detail"><p>{{data?.sale_code}}</p></div>
    </div>
    <div class="row half">
        <div class="label"><p>รหัสลูกค้า :</p></div>
        <div class="detail"><p>{{data?.code}}</p></div>
    </div>
    <div class="row half">
        <div class="label"><p>ส่วนลดการขาย :</p></div>
        <div class="detail"><p>{{data?.sale_discount}}</p></div>
    </div>
    <div class="row half">
        <div class="label"><p>ประเภทธุรกิจ :</p></div>
        <div class="detail"><p>{{data?.businessType}}</p></div>
    </div>
    <div class="row half">
        <div class="label"><p>เงื่อนไขการรับเช็ค :</p></div>
        <div class="detail"><p>{{data?.cheque_condition}}</p></div>
    </div>
    <div class="row half">
        <div class="label"><p>ยอดที่คาดหวังต่อเดือน :</p></div>
        <div class="detail"><p>{{data?.month_expect}}</p></div>
    </div>
    <div class="row half">
        <div class="label"><p>วงเงินเครดิตที่ต้องการ :</p></div>
        <div class="detail"><p>{{data?.credit_expected}}</p></div>
    </div>
    <div class="row half">
        <div class="label"><p>สมัครเมื่อ :</p></div>
        <div class="detail"><p>{{data?.registered_date}}</p></div>
    </div>
    <div class="row half">
        <div class="label"><p>วิธีการชำระเงิน :</p></div>
        <div class="detail"><p>{{data?.payment_method}}</p></div>
    </div>
    <div class="row half">
        <div class="label"><p>เลขประจำตัวผู้เสียภาษี :</p></div>
        <div class="detail"><p>{{data?.id_card}}</p></div>
    </div>
    <div class="row half">
        <div class="label"><p>เงื่อนไขการวางบิล :</p></div>
        <div class="detail"><p>{{data?.bill_condition}}</p></div>
    </div>
    <div class="row half">
        <div class="label"><p>ที่อยู่สำหรับออกบิล :</p></div>
        <div class="detail"><p>{{data?.bill_addr}}</p></div>
    </div>
    <div class="row half">
        <div class="label"><p>เบอร์โทรศัพท์ :</p></div>
        <div class="detail">
            <div class="for-container" *ngFor="let item of data?.tel; let i = index">
                <span *ngIf="data?.tel.length > 1">{{i+1}}. </span>
                <span>{{item}}</span>
            </div>
            </div>
    </div>
    <div class="row">
        <div class="label"><p>ที่อยู่สำหรับจัดส่ง :</p></div>
        <div class="detail">
            <div class="for-container" *ngFor="let item of data?.ship_addrs; let i = index">
                <span *ngIf="data?.ship_addrs.length > 1">{{i+1}}. </span>
                <span>{{item}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="label"><p>แนบไฟล์ :</p></div>
        <div class="detail">
            <div class="for-container" *ngFor="let item of data?.files; let i = index">
                <span *ngIf="data?.files.length > 1">{{i+1}}. </span>
                <span class="clickable underline" (click)="openFile(item.ref)">{{item.name}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="label"><p>หมายเหตุ :</p></div>
        <div class="detail"><p>{{data?.remark}}</p></div>
    </div>
</div>