<app-detail-box title="รายละเอียดลูกค้า">
<cf-display-manager>
  <app-customer-detail [data]="data_dispatcher.dataDispatch" [loading]="data_dispatcher.getLoading()"></app-customer-detail>
</cf-display-manager>
</app-detail-box>