<button (click)="testlogin(false)">TEST LOGIN</button>
<button (click)="testlogin(true)">TEST LOGIN with Save</button>
<button (click)="loginJwt(false)"> TEST LOGIN JWT</button>
<button (click)="loginJwt(true)"> TEST LOGIN JWT WITH SAVE</button>
 <button [routerLink]="['/test']"> GO to test</button> 
<button (click)="logout()"> Log out</button>
<form class="test">
    <cf-slidebar [range]="[0,100]" [step]="10"></cf-slidebar>
</form>