<div class="product_detail">
  <div class="product_table">
    <cftable [control]="tableControl" [extendColumn]="viewBtn" class="list product"></cftable>
    <ng-template #viewBtn let-cfitem="cfitem">
      <button class="ui icon button yellow" (click)="goto(cfitem)">
            <i class="icon file text"></i>
          </button>
    </ng-template>
  </div>
  <div class="card_container">
    <app-product-detail-card [data]="data?.product_card_detail"></app-product-detail-card>
    <app-order-product-card [data]="data"></app-order-product-card>
    <app-set-status [product_id]="p_id" [data]="data?.button" *cfdisplaysecure="9"></app-set-status>
  </div>
</div>
