.product_detail {
    padding: 25px;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    .product_table {
        float: left;
        margin-top: 1em;
        width: calc(100% - 290px - 1em);
    }
    .card_container {
        float: right;
        width: calc(290px + 1em);
        height: 100%;
        .order_card {
            margin: 1em;
            font-family: 'Quark-Light';
            .feed {
                .content {
                    font-size: 1.1em;
                }
            }
        }
        .button_box {

        }
    }
}