<div class="menu">
    <div class="item clickable" [routerLinkActive]="'selected'" routerLink="/customer/" *cfdisplaysecure="[4,6]">
        <i class="icon users"></i><p>ลูกค้า</p>
    </div>
    <div class="item clickable" [routerLinkActive]="'selected'" routerLink="/model/" *cfdisplaysecure="[7,10]">
        <i class="icon file text"></i><p>รายการสั่งซื้อ</p>
    </div>
    <div class="item clickable" [routerLinkActive]="'selected'" routerLink="/inventory/" *cfdisplaysecure="3">
        <i class="icon shop"></i><p>คลังสินค้า</p>
    </div>
    <div class="item clickable" [routerLinkActive]="'selected'" routerLink="/user/" *cfdisplaysecure="8">
        <i class="icon user"></i><p>ข้อมูลผู้ใช้</p>
    </div>
</div>