@import '~/../src/color.scss';

.menu {
    display: inline-block;
    margin-left: 15px;
    height: 50px;
    padding: 8px;
    .item {
        display: inline-block;
        text-align: center;
        margin-right: 10px;
        height: 40px;
        font-family: 'Quark-Bold';
        font-size: 1.4em;
        padding: 5px 7.5px;
        color: $grey_theme;
        &:hover {
            @extend .selected;
        }
        p {
            display: inline;
        }
    }
    .selected {
        font-size: 1.5em;
        color: white;
    }
    .icon {
        margin-right: 5px;
    }
}