.breadcrumb{
    padding-top:30px;
    /deep/ ul{
        padding-top:25px;
        &:after{
            clear: both;
            
            display: block;
        }
    }
    /deep/ .breadtext{
        color:#5fa029;
    }
    /deep/ .breadlink{
        color:#5fa029;
        text-decoration: underline;
    }
}