@import '~/../src/color.scss';

.userList {
    font-family: 'Quark-Light';
    font-size: 16px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid  #CDCDCD;
    background-color: #FCF9F9;
    display: inline-block;
    margin: 8px;
    .content {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 1px solid #F2F2F2;
        background-color: white;
        &:after {
          content: '';
          display: block;
          clear: both;
        }
        .pic_container {
            width: 100px;
            height: 100%;
            float: left;
            padding: 20px 10px;
            .pic {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: #7AC043;
                background-position: center center;
                background-size: cover;
                border: 1px solid #cccccc;
            }
        }
        .info_container {
            width: calc(100% - 100px);
            float: left;
            padding: 15px 5px;
            .header {
                font-size: 1.1em;
                margin-bottom: 8px;
                font-family: 'Quark-Bold';
                color: #616260;
                .username {
                    color: #C1C4C6;
                }
            }
            .detail {
                letter-spacing: .5px;
                font-size: 14px;
                padding-left: 10px;
                .row {
                    label {
                        display: inline-block;
                        text-align: right;
                        font-family: 'Quark-Bold';
                        color: #66A610;
                        width: 38px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .extra {
        position: relative;
        width: 100%;
        height: 40px;
        padding: 10px 20px;
        .id {
            vertical-align: text-bottom;
            color: grey;
        }
        .option {
            position: absolute;
            right: 10px;
            top: 4px;
            .ui.button {
                padding: 8px 10px;
                .text {
                    .dropdown.icon {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

.sm_font {
    font-size: 0.85em;
}