<div class="userList">
    <div class="content">
        <div class="pic_container">
            <div class="pic" [ngStyle]="{'background-image': 'url(http://' + data?.pic.url + ')'}"></div>
        </div>
        <div class="info_container">
            <div class="header">
                <span class="name">{{data?.name}} {{data?.lastname}}</span>
                <span class="username">({{data?.username}})</span>
            </div>
            <div class="detail">
                <div class="row">
                    <label>role</label>
                    <span>{{data?.job_type_text}}</span>
                </div>
                <div class="row">
                    <label>line id</label>
                    <span>{{data?.line_id}}</span>
                </div>
                <div class="row">
                    <label>tel</label>
                    <span class="sm_font">+{{data?.phone.code}}{{data?.phone.number}}</span>
                </div>
                <div class="row">
                    <label>email</label>
                    <span>{{data?.email}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="extra">
        <span class="id">#{{data?.sale_mc5_code}}</span>
        <div class="option" [ngSwitch]="data?.isArchived">
            <div class="ui dropdown pointing button green basic compact" *ngSwitchCase="false">
                <span class="text">Options <i class="dropdown icon"></i></span>
                <div class="menu">
                    <div class="item" (click)="setAction('permission')"><i class="icon privacy"></i>Permission</div>
                    <div class="item" (click)="setAction('edit')"><i class="icon edit"></i>Edit</div>
                    <div class="item" (click)="setAction('genPass')"><i class="icon unlock alternate"></i>Generate Password</div>
                    <div class="item" (click)="setAction('archived')"><i class="icon archive"></i>Archive</div>
                </div>
            </div>
            <button class="ui button yellow inverted" *ngSwitchCase="true" (click)="setAction('unarchived')">Unarchive</button>
        </div>
    </div>
</div>