.slideBox {
  position: relative;
  outline: none !important;
  width: 100%;
  height: 3em;
  cursor: pointer;
  .bar {
    position: absolute;
    width: 100%;
    height: .2em;
    background-color: #d7dcdf;
    border-radius: 1px;
    z-index: 2;
    top: 50%;
    transform: translate(0, -50%);
  }
  .snap {
    position: absolute;
    width: .2em;
    height: .4em;
    background-color: #d7dcdf;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
  }
  .point {
    position: absolute;
    width: .4em;
    height: .4em;
    background-color: #2c3e50;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    transition: left 0.1s;
    .colorBar {
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translate(0, -50%);
      transition: width 0.1s;
      height: .2em;
      z-index: 3;
      background-color: #2c3e50;
    }
    .value_display {
      opacity: 0;
      transition: opacity .3s;
      position: absolute;
      width: 1.8em;
      height: 1.8em;
      background-color: #d7dcdf;
      color: #2c3e50;
      top: -2.2em;
      left: 0;
      transform: translate(-40%, 0);
      border-radius: 50%;
      &:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 0.2em solid transparent;
        border-right: 0.2em solid transparent;
        border-top: 0.2em solid #d7dcdf;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
      }
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .value_display.show {
      opacity: 1;
    }
  }
}
