<p>
  rangeStart => {{range}}
</p>
<p>
  value => {{value}}
</p>
<p>
  point => {{point}}
</p>
<div class="slideBox" tabindex="0" (wheel)="scrollY($event)" (mousedown)="addEvent($event)" (touchstart)="addEvent($event)"
  (touchend)="removeEvent()" #box>
  <div class="bar" #bar>
    <div *ngFor="let snap of snaps" [ngClass]="{snap: hasSnapPoint}" [ngStyle]="{'left': snap + 'px'}"></div>
    <div class="point" [ngStyle]="{'left': snaps[point] + 'px'}">
      <div class="colorBar" [ngStyle]="{'width': snaps[point] - snaps[0] + 'px'}"></div>
      <div class="value_display" [ngClass]="{show: hasDisplay}">
        <span>{{value}}</span>
      </div>
    </div>
  </div>
</div>
