.edit_box {
    width: 100%;
    background-color: #F8F6F6;
    &:hover {
        background-color: #E9E9E9;
        .value {
            .edit_btn {
                text-decoration: underline;
            }
        }
    }
    .info {
        padding: 1.5em 0 1.5em 80px;
        .label {
            font-family: 'Quark-Bold';
            letter-spacing: 1px;
            width: 200px;
            font-size: 18px;
            text-align: left;
            display: inline-block;
        }
        .value {
            text-align: left;
            min-width: 50%;
            font-size: 1.2em;
            color: #A8AAAC;
            display: inline-block;
            .edit_btn {
                display: none;
                float: right;
                font-size: 16px;
                letter-spacing: .5px;
                font-family: 'Quark-Bold';
                color: #66A610;
            }
            .editable {
                display: block;
            }
        }
    }
    form {
        display: none;
        &> div {
            input {
                padding: 5px 10px;
            }
            button {
                margin: 1em 0;
                padding: 8px 20px;
            }
        }
    }
}
.activated {
    background-color: #E9E9E9;
    .value {
        visibility: hidden;
    }
    form {
        display: block;
    }
}