@import '~/../src/color.scss';
.container{
     &.noleftside{
        margin:0 auto;
        .content{
            margin: 0 auto;
            float: none;
        }
    }
}
.content{
    width: calc(100% - 200px);
   
    
    float: right;
    height: 100%;
    padding: 20px;
    background-color: white;
    border: 1px solid $border_theme;
}

app-sidebar{
    float:left;
    display: block;
}

:host{
    min-height: 100%;
    display: block;
    min-width: 1090px;
}

.container{
    padding: 50px;
    height: auto;
    width: 100%;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.filter{
    width:50%;
    position: absolute;
    top:0;
    right:0;
}

.container-top{
    position: relative;
    height: 50px;
}