<nav>
  <app-topbar></app-topbar>
  <section class="container-top">
    <div class="breadcrumb" >
        <ng-content select="[breadcrumb]"></ng-content>
    </div>
    <div class="filter" >
      <ng-content select="[filter]"></ng-content>
    </div>
  </section>
</nav>
<section class="container" [ngClass]="{'noleftside':noleftside}">
  <app-sidebar *ngIf="!noleftside">
    <ng-content select="[leftside]"></ng-content>
  </app-sidebar>
  <section class="content">
    <ng-content select="[rightside]"></ng-content>
  </section>
</section>
