<cftable [control]="control" class="list"></cftable>
<div class="pagination-wrapper" *ngIf="datatotal">
    <cf-pagination [cfpagination]="control.getPagination()" [(ngModel)]="currentPage"></cf-pagination>
    <cf-sizination [cfsizination]="control.getSizination()" [(ngModel)]="currentSize" class="sizination" [class]="'sizination'"></cf-sizination>
</div>
