<section>
  <div class="logo">
    <img  src="./assets/img/gracz-logo-invert.png">
  </div>
  <p class="code">
    404
  </p>
  <p class="message">Page not found.</p>
  <p class="linktohome">
    <a [routerLink]="['/login']">Back to home</a>
  </p>
</section>  