section{
    width:500px;
    height: 250px;
    // background-color: red;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.logo{
    text-align: center;
    img{
        width:120px;
    }
}
.code{
    text-align: center;
    font-size: 6em;
    letter-spacing: .3em;
    text-indent: 0.3em;
    margin-bottom: .3em;
    color:#60A306;
}
.message{
    text-align: center;
    font-size: 1.3em;
    color:#999C9E;
}
.linktohome{
    text-align: center;
    text-decoration: underline;
    a{
        color:#A0C76E;
        cursor: pointer;
    }
}