<app-two-side>
  <section breadcrumb>

  </section>
  <section filter>
    <app-user-searchbar></app-user-searchbar>
  </section>
  <section leftside>
    <app-user-tab-nav></app-user-tab-nav>
  </section>
  <section rightside>
      <div class="btn-container">
        <button class="ui button green" [routerLink]="['/user/add']"><i class="icon plus"></i>เพิ่มผู้ใช้</button>
      </div>
      <app-user-list-container></app-user-list-container>
  </section>
</app-two-side>
