<section class="searchbar-container">
    <div class="search-container">
        <app-search (onChange)="searchChange($event)"></app-search>
    </div>
    <div class="select-container">
        <app-status (onChange)="statusChange($event)" [statuslist]="filter.statusList"> 
            
        </app-status>
    </div>
</section>