<app-two-side>
  <section breadcrumb>
    <app-customer-breadcrumb [states]="states" current="export"></app-customer-breadcrumb>
  </section>
  <section filter>
      <app-customer-export-searchbar></app-customer-export-searchbar>
  </section>
  <section leftside>
    <app-customer-tab-nav></app-customer-tab-nav>
  </section>
  <section rightside>
    <app-export-button [exportservice]="customer_export" [toSubmit]="container?.chk_data" (onExportSuccess)="exportSuccess($event)" ></app-export-button>
    <app-customer-export-container #container ></app-customer-export-container>
  </section>
</app-two-side>
