<app-user-permission-detail [data]="data?.detail"></app-user-permission-detail>
<app-user-permission [loading]="loading" [data]="data?.permission" (list)="editPermission($event)"></app-user-permission>