<div [ngSwitch]="getState">
    <div *ngSwitchCase="'1'">
        <sm-segment>
            <sm-loader [complete]="false" class="inverted" text="Loading..."></sm-loader>
        
        </sm-segment>
    </div>
    <div *ngSwitchCase="'2'">
       <section class="no-data">
            <p>ไม่มีข้อมูล</p>
       </section>
    </div>
    <div [hidden]="getState != 3">
        <ng-content></ng-content>
    </div>
</div>