.no-data{
    min-height: 150px;
    position: relative;
    p{
        text-align: center;
        font-size: 1.4em;
        color:rgba(0,0,0,.4);
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
}
sm-segment /deep/ .segment{
    height: 300px !important;
}