<sm-select class="status fluid" [control]="selectinput">
    <option [value]="'none'">ทั้งหมด</option>
    <option *ngFor="let status of statuslist" [value]="status.value">
        {{status.text}}
    </option>
</sm-select>