.button_box{
    margin-left: 1em;
    padding: 0 30px;
    padding-top:15px;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    button {
        width: 100px;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
}