<div class="button_box">
    <div *ngFor="let button of data" [ngSwitch]="button.id">
        <button class="ui button green left" (click)="approve()" *ngSwitchCase="1">{{button.text}}</button>
        <button class="ui button red right" (click)="disapprove()" *ngSwitchCase="2">{{button.text}}</button>
    </div>
</div>

<sm-modal [title]="title" class="small" #confirmModal>
    <modal-content>
        <p>{{content}}</p>
    </modal-content>
    <modal-actions>
        <button class="ui green button" (click)="confirm()">
            ยืนยัน
        </button>
        <button class="ui red button" (click)="cancel()">
            ยกเลิก
        </button>
    </modal-actions>
</sm-modal>
