 
 <sm-modal [title]="title" class="small" #confirmModal>

    <modal-content>
        <p>{{title}}</p>
    </modal-content>
    <modal-actions>
        <button class="ui green button" (click)="confirm()">
          ตกลง
        </button>
        <button class="ui green button" (click)="cancel()">
          ยกเลิก
        </button>
    </modal-actions>
</sm-modal>