
<app-two-side [noleftside]="true">
  <section breadcrumb>
    <app-customer-breadcrumb current="customerdetail" [mapParams]="mapParams"></app-customer-breadcrumb>
  </section>
  <section leftside>
  </section>
  <section rightside>
    <app-set-status [cus_id]="cus_id" [data]="button" *cfdisplaysecure="5"></app-set-status>
    <app-customer-detail-container [cus_id]="cus_id" (button)="setButton($event)"></app-customer-detail-container>
    <app-customer-order-container [cus_id]="cus_id"></app-customer-order-container>
  </section>
</app-two-side>

