<div class="edit_box clickable" [ngClass]="{'activated': activated}">
    <div class="info" (click)="onClick()">
        <div class="label">
            <ng-content></ng-content>
        </div>
        <div class="value">
            <span>+{{value?.code}}{{value?.number}}</span>
            <div class="edit_btn" [ngClass]="{'editable': editable}">edit</div>
        </div>
    </div>
    <form [formGroup]="formg">
        <div class="ui input">
            <input type="phone" class="code" formControlName="code" maxlength="4">
            <input type="phone" formControlName="number">
        </div>
        <div>
            <button class="ui button green" (click)="onSave()">Save</button>
        </div>
    </form>
</div>