<div class="ui card order_card">
    <div class="content">
        <div class="ui feed">
            <div class="content">
                <p>วันที่สมัคร: {{data?.register_date}}</p>
            </div>
            <div class="content">
                <p>เวลา: {{data?.register_time}}</p>
            </div>
            <div class="content">
                <p>วันที่จัดส่ง: {{data?.shipment_date}}</p>
            </div>
            <div class="content">
                <p>ที่อยู่จัดส่ง: {{data?.shipment_address}}</p>
            </div>
            <div class="content">
                <div *ngFor="let phone of data?.phone_number; let i = index;">
                    <span [ngClass]="{hidden: i != 0}">เบอร์ติดต่อ:</span>
                    <span *ngIf="data?.phone_number.length > 1">{{i + 1}}. {{phone}}</span>
                    <span *ngIf="data?.phone_number.length == 1">{{phone}}</span>
                </div>
            </div>
            <div class="content">
                <p>หมายเหตุ: {{data?.remark}}</p>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="ui feed">
            <div class="content">
                <p>จำนวนสินค้า: {{data?.product_quantity}} </p>
            </div>
            <div class="content">
                <p>ราคาสุทธิ: {{data?.total_price_text}} บาท</p>
            </div>
            <div class="content">
                <p>จำนวน SO คงเหลือ: {{data?.SO_qty}}</p>
            </div>
            <div class="content">
                <p>จำนวน invoice คงเหลือ: {{data?.invoice_qty}}</p>
            </div>
        </div>
    </div>
</div>