
        .order_card {
            margin: 1em;
            font-family: 'Quark-Light';
            .feed {
                .content {
                    font-size: 1.1em;
                    .hidden {
                        visibility: hidden;
                    }
                }
            }
        }