<cf-display-manager>
    <app-user-list [data]="data_dispatcher.dataDispatch" [loading]="data_dispatcher.getLoading()" (action)="manage($event)"></app-user-list>
    <app-user-gen-pass></app-user-gen-pass> 
    
</cf-display-manager>
<app-navigation-eve [total]="totaldata" *ngIf="totaldata > 0" (onChange)="onNavChange($event)" [resetPage]="resetPage" ></app-navigation-eve>