<cftable [control]="control" [extendColumn]="viewBtn" (onClickCheckbox)="onCheckbox($event)" class="order_exp list"></cftable>
<div class="pagination-wrapper" *ngIf="datatotal > 0">
    <cf-pagination [cfpagination]="control.getPagination()" [(ngModel)]="currentPage"></cf-pagination>
    <cf-sizination [cfsizination]="control.getSizination()" [(ngModel)]="currentSize" class="sizination" [class]="'sizination'"></cf-sizination>
</div>
<ng-template #viewBtn let-cfitem="cfitem">
    <button class="ui icon button yellow" (click)="viewDetail(cfitem)">
        <i class="icon file text"></i>
    </button>
</ng-template>