<div class="permission center">
    <h2>Permission</h2>
    <div class="ui segment left">
        <form class="mode" *ngIf="data.sale_admin">
            <h3>Sale Admin</h3>
            <div class="ui big divided list">
                <div class="item">
                    <div class="ui checkbox">
                        <input type="checkbox" [checked]="chk_sa" (change)="checkAll(sale_admin_form, $event.target.checked)">
                        <label class="all">ทั้งหมด</label>
                    </div>
                </div>
                <div class="item" *ngFor="let item of data.sale_admin; let i = index;">
                    <div class="ui checkbox content">
                        <input type="checkbox" [formControl]="sale_admin_form.at(i)">
                        <label>{{item.text}}</label>
                    </div>
                    <span class="required_text">{{item.required_text}}</span>
                </div>
            </div>
        </form>
        <form class="mode" *ngIf="data.sale">
            <h3>Sale</h3>
            <div class="ui big divided list">
                <div class="item">
                    <div class="ui checkbox">
                        <input type="checkbox" [checked]="chk_s" (change)="checkAll(sale_form, $event.target.checked)">
                        <label class="all">ทั้งหมด</label>
                    </div>
                </div>
                <div class="item" *ngFor="let item of data.sale; let i = index;">
                    <div class="ui checkbox content">
                        <input type="checkbox" [formControl]="sale_form.at(i)">
                        <label>{{item.text}}</label>
                    </div>
                </div>
            </div>
        </form>
        <div class="center" *ngIf="!data.sale && !data.sale_admin">
            <span>ไม่สามารถแก้ permission ได้</span>
        </div>
        <div class="center" *ngIf="data.sale || data.sale_admin">
            <button class="green ui button" (click)="onSubmit()" [ngClass]="{'loading': loading, 'disabled': loading}">submit</button>
        </div>
    </div>
</div>