.permission {
    padding: 25px;
    h2 {
        color: #A9ABAD;
    }
    .ui.segment {
        max-width: 670px;
        margin: auto;
        padding: 2em 0;
        .mode {
            margin-bottom: 2em;
            .ui.list > .item > .ui.checkbox, h3 {
                margin-left: 25px;
            }
            .item {
                position: relative;
            }
        }
    }
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.required_text {
    color: red;
    font-size: 12px;
    position: absolute;
    right: 10px;
}
.all {
  font-weight: bold;
}