.user_detail {
    width: 100%;
    height: 100px;
    position: relative;
    &:after {
        position: absolute;
        left: -20px;
        right: -20px;
        top: -20px;
        bottom: 0;
        content: '';
        display: block;
        background-color: #F5FBEE;
        z-index: 0;
    }
    .info_container {
        max-width: 670px;
        margin: auto;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 18px 20px 20px 100px;
        .pic {
            position: absolute;
            width: 80px;
            height: 80px;
            background-position: center center;
            background-size: cover;
            border-radius: 50%;
            top: 0;
            left: 10px;
            z-index: 1;
            border: 5px solid #E0F2C9;
        }
        .info {
            position: relative;
            z-index: 1;
            padding-left: 25px;
            .name {
                font-family: 'Quark-Bold';
                font-size: 20px;
                color: #92C054;
                margin-bottom: 8px;
                .username {
                    font-size: 16px;
                    color: #BFC3BF;
                }
            }
            .id {
                font-family: 'Quark-Light';
                font-size: 14px;
                color: #BFC3BF;
            }
        }
    }
    

}