<div class="user_detail">
    <div class="info_container">
        <div class="pic" [ngStyle]="{'background-image': 'url(http://' + data.pic_src + ')'}"></div>
        <div class="info">
            <div class="name">
                <span>{{data.name}}</span>
                <span class="username">({{data.username}})</span>
            </div>
            <div class="id">
                <p>#{{data.id}}</p>
            </div>
        </div>
    </div>
</div>