<app-two-side>
  <section breadcrumb>
    <app-order-breadcrumb [states]="states" current="orderexport"></app-order-breadcrumb>
  </section>
  <section filter>
      <app-order-export-searchbar></app-order-export-searchbar>
  </section>
  <section leftside>
      <app-order-tab-nav></app-order-tab-nav>
  </section>
  <section rightside>
      <app-export-button [exportservice]="customer_export" [toSubmit]="container?.chk_data" (onExportSuccess)="exportSuccess($event)"></app-export-button>
      <app-order-export-container #container ></app-order-export-container>
  </section>
</app-two-side>
