.product_card {
    font-family: 'Quark-Light';
    margin: 1em!important;
    .meta {
        font-size: 1.1em;
    }
    .data {
        .status {
            font-family: 'Quark-Bold';
            font-size: 1.3em;
        }
        .positive {
            color: #378F3D;
        }
        .negative {
            color: #e40e0e;
        }
        .warning {
            color: #ecc600;
        }
        .feed {
            .content {
                font-size: 1.1em;
            }
        }
    }
}

.mu_sm-font {
    font-size: .85em;
}