<div class="product_card ui card">
    <div class="content">
        <h3 class="header">{{data?.doc_no}}</h3>
        <p class="meta">{{data?.cus_name}}</p>
    </div>
    <div class="content data">
        <p class="ui sub header status" [ngClass]="statusColor">{{data?.status_text}}</p>
        <div class="ui feed">
            <div class="content">
                <span class="mu_sm-font">FG/GKU</span>: #{{data?.product_code}}
            </div>
            <div class="content">
                <p>ราคาขาย: {{data?.price_text}} บาท</p>
            </div>
            <div class="content">
                <p>ราคาจากระบบ: {{data?.default_price_text}} บาท</p>
            </div>
        </div>
    </div>
    <div class="extra content">
        <span class="left floated">
            <p>ราคารวม {{data?.total_price_text}} บาท</p>
        </span>
        <span class="right floated">
            <p>จำนวน {{data?.quantity_text}}</p>
        </span>
    </div>
</div>