<div class="product_card ui card">
    <div class="content">
        <h3 class="header">{{data?.doc_no}}</h3>
        <p class="meta">{{data?.customer_name}}</p>
    </div>
    <div class="content data">
        <p class="ui sub header status" [ngClass]="statusColor">{{data?.status_text}}</p>
        <div class="ui feed">
            <div class="content">
                <span class="mu_sm-font">FG/GKU</span>: #{{data?.product_code}}
            </div>
            <div class="content">
                <p>หมวดหมู่: {{data?.category}}</p>
            </div>
            <div class="content">
                <p>โมเดล: {{data?.model}}</p>
            </div>
            <div class="content">
                <p>หน่วย: {{data?.unit}}</p>
            </div>
            <div class="content">
                <p>จำนวน: {{data?.quantity}}</p>
            </div>
            <div class="content">
                <p>ราคาจากระบบ: {{data?.default_price}} บาท</p>
            </div>
            <div class="content">
                <p>ราคาขาย: {{data?.price}} บาท</p>
            </div>
            <div class="content">
                <p>ส่วนลดพิเศษ: {{data?.discount_per}}</p>
            </div>
            <div class="content">
                <p>ส่วนลด: {{data?.discount_val}} บาท</p>
            </div>
        </div>
    </div>
    <div class="extra content">
        <span class="left floated">
            <p>ราคารวม {{data?.total_price}} บาท</p>
        </span>
        <span class="right floated">
            <p>{{data?.screen}}</p>
        </span>
    </div>
</div>