/* You can add global styles to this file, and also import other style files */
@import "~/../src/color.scss";

@font-face {
  font-family: "Quark-Bold";
  src: url("./assets/fonts/Quark-Bold/Quark-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Quark-Bold/Quark-Bold.otf") format("opentype"),
    url("./assets/fonts/Quark-Bold/Quark-Bold.woff") format("woff"),
    url("./assets/fonts/Quark-Bold/Quark-Bold.ttf") format("truetype"),
    url("./assets/fonts/Quark-Bold/Quark-Bold.svg#Quark-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quark-Light";
  src: url("./assets/fonts/Quark-Light/Quark-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Quark-Light/Quark-Light.otf") format("opentype"),
    url("./assets/fonts/Quark-Light/Quark-Light.woff") format("woff"),
    url("./assets/fonts/Quark-Light/Quark-Light.ttf") format("truetype"),
    url("./assets/fonts/Quark-Light/Quark-Light.svg#Quark-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: auto !important;
}
.pagination-wrapper {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}
.sizination {
  width: 200px;
  margin-top: 5px;
  position: relative;
  top: -5px;
  float: right;
}
.clickable {
  cursor: pointer;
}

.right {
  text-align: right;
}

html,
body {
  min-height: 100%;
}

table.list {
  border: none !important;
  thead {
    font-family: "Quark-Light";
    font-size: 1.4em;
    tr {
      th {
        border-bottom: none !important;
        color: white !important;
        background-color: #7ac043 !important;
      }
    }
  }
  tbody {
    font-family: "Quark-Light";
    font-size: 1.2em;
    td:nth-child(1) {
      font-family: "Quark-Bold";
      padding-left: 30px;
      padding-right: 5px;
    }
    tr {
      border-bottom: none;
      &:nth-child(odd) {
        background-color: #f0f8e0;
      }
      &:nth-child(even) {
        background-color: #d9edb2;
      }
      td {
        border: none;
      }
    }
  }
}

table.list.product {
  tbody {
    tr:nth-child(1) {
      td:nth-child(1) {
        position: relative;
        &:before {
          position: absolute;
          left: 8px;
          top: 47%;
          transform: translate(0, -50%);
          display: block;
          font-family: Icons;
          content: '\F005';
          color: #EAAE00;
        }
      }
    }
  }
}
.search-container {
  width: 200px;
  float: right;
}
.select-container {
  width: 190px;
  float: right;
  margin-right: 10px;
}
.searchbar-container {
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 30px;
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

.cf-select {
  margin: 0 !important;
}

app-two-side {
  background-color: $background_theme;
}

.underline {
  text-decoration: underline;
}
.full-loader {
  height: 100%;
}

.ui.modal > .header {
  font-size: 1.6em;
  font-family: "Quark-Bold" !important;
  padding: 1rem 1.25rem !important;
}
.ui.modal.box {
  max-width: 500px;
  left: 50%;
  margin-left: -250px;
  .header {
    display: none;
  }
  .content {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

.account {
  .ui.dropdown .menu {
    right: 0;
    left: auto !important;
  }
}

.option {
    .ui.pointing.dropdown>.menu:after {
        left: 25%;
    }
}
.no-data-dispatch{
    min-height: 150px;
    position: relative;
    p{
        text-align: center;
        font-size: 1.4em;
        color:rgba(0,0,0,.4);
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
}
