<cf-select [formControl]="tabValue" >
    <div *ngFor="let item of data; let i = index">
        <cf-choice [value]="item.value" #choice *cfdisplaysecure="item.permission">
            <div class="tab_item clickable" [ngClass]="{selected: current == item.value, first: i == 0}" [routerLinkActive]="'selected'" [routerLink]="item.value">
                <p>{{item.text}}</p>
            </div>
        </cf-choice>
    </div>
</cf-select>
