@import '~/../src/color.scss';

.tab_item {
    width: 200px;
    height: 60px;
    text-align: center;
    font-family: 'Quark-Light';
    font-size: 1.4em;
    padding: 16.5px 0;
    color: $unselected_tab_font;
    background-color: $unselected_tab_bg;
    border-left: 1px solid $border_theme;
    border-right: 1px solid $border_theme;
    border-bottom: 1px solid $border_theme;
    // &:hover {
    //     @extend .selected;
    // }
}

.selected {
    font-size: 1.5em;
    box-shadow: -4px 0px 0 0px $main_theme;
    color: black;
    background-color: white;
    border-right-color: white;
}

.first {
    border-top: 1px solid $border_theme;
}