<cf-display-manager>
    <app-user-list [data]="data_dispatcher.dataDispatch" [loading]="data_dispatcher.getLoading()" (action)="manage($event)"></app-user-list>
    
</cf-display-manager>
<app-navigation-eve [total]="totaldata" *ngIf="totaldata > 0" (onChange)="onNavChange($event)" [resetPage]="resetPage"></app-navigation-eve>